html(lang='fr')
    head
        title pour une foie organisons-nous
        meta(charset='utf-8')
        link(rel='stylesheet' type='text/css' href='/assets/design.css')
        meta(name='viewport' content='width=divice-width, initial-scale=1.0')
    body
        h1 Pour une foie organisons nous